%table.question
	%tr
		%td.question_body
			= question.body.html_safe
			- if is_admin?
				.edit_button
					= link_to 'edit', edit_admin_question_url(question)
		%td.buttons
			.answer_button{:'data-id' => question.id}
				%span= "ANSWER"
				%span.arrow= image_tag('answer_arrow.png')
.answer_popup{:'data-id' => question.id, :style => 'display: none;'}
	.title_bar
		.answer_question= question.body.html_safe
		.answer_close= 'X'
	.answer_body
		= question.answer_body.html_safe
