= semantic_form_for [:admin, @page] do |f|
	= f.inputs :name => 'Basic' do
		= f.input :title
		= f.input :url
		= f.input :body, :input_html => { :class => 'js_editor' }
		= f.input :hide_header
	= f.inputs :name => 'Advanced' do
		= f.input :published
		= f.input :teaser, :input_html => { :class => 'js_editor' }
		= f.input :menu, :collection => MenuItem.menus
		= f.input :thumbnail
		= remove_thumbnail_tag(f, @page)
		= f.input :image 
		= remove_image_tag(f, @page)
	= f.buttons
