%h1 Listing audio_mp3s
%table
  %tr
    %th Audio mp3 file name
    %th Audio mp3 content type
    %th Audio mp3 file size
    %th Audio mp3 updated at
    %th Audio content
    %th Audio title
    %th
    %th
    %th
  - @audio_mp3s.each do |audio_mp3|
    %tr
      %td= audio_mp3.audio_mp3_file_name
      %td= audio_mp3.audio_mp3_content_type
      %td= audio_mp3.audio_Mp3_file_size
      %td= audio_mp3.audio_mp3_updated_at
      %td= audio_mp3.audio_content_id
      %td= audio_mp3.audio_title
      %td= link_to 'Show', audio_mp3
      %td= link_to 'Edit', edit_audio_mp3_path(audio_mp3)
      %td= link_to 'Destroy', audio_mp3, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Audio mp3', new_audio_mp3_path, class="btn_edit left"