= semantic_form_for [:admin, @contemporary_issue] do |f|
	= f.inputs :name => 'Basic' do
		= f.input :title
		= f.input :body, :input_html => { :class => 'js_editor' }
	= f.inputs :name => 'Advanced' do
		= f.input :published
		= f.input :teaser, :input_html => { :class => 'js_editor' }
		= f.input :encyclicals, :collection => Encyclical.published.collect { |c| [c.name, c.id] }, :input_html => { :class => 'js_multiselect' }
		= f.input :thumbnail
		= remove_thumbnail_tag(f, @contemporary_issue)
		= f.input :image 
		= remove_image_tag(f, @contemporary_issue)
	= f.buttons

:javascript
	$(document).ready(function(){
		var isFirefox = typeof InstallTrigger !== 'undefined';

		$('#contemporary_issue_thumbnail').change(function(){
			validate_image($(this));
		});

		$('#contemporary_issue_image').change(function(){
			validate_image($(this));
		});


		function validate_image(img) {
			var isJPEG= new RegExp("\.jpeg");
			var isJPG= new RegExp("\.jpg");
			var isPNG= new RegExp("\.png");
			if(isJPEG.test(img.val())==false){
				if(isJPG.test(img.val())==false){
					if(isPNG.test(img.val())==false){
						alert("Only \"jpeg\" and \"png\" files");
						var field = $(this);
						if(isFirefox)
							img.val("");
						else
							img.replaceWith(field = img.clone( true ) );
					}
				}
			}
		}
		
	});