.page
	%h2 All Locations
	- table(@locations, ['name', 'address', '']) do |location, klass|
		%tr{:class => klass}
			%td= location.name
			%td= location.address
			%td.controls
				= link_to 'Edit', edit_admin_location_path(location)
				- if location.events.count == 0
					= link_to 'Delete', admin_location_path(location), :method => :delete, :confirm => "Are you sure?"
	.link
		= link_to 'New Location', new_admin_location_url
