= semantic_form_for [:admin, @thought] do |f|
	= f.input :name
	= f.input :title
	- is_admin? do
		= f.input :user, :collection => User.order(:last_name).collect { |c| [c.full_name, c.id] }, :label => "Author"
	= f.input :teaser, :input_html => { :class => 'js_editor' }, :label => 'Quote'
	= f.input :body, :input_html => { :class => 'js_editor' }
	= f.input :published
	= f.input :contemporary_issues, :collection => ContemporaryIssue.where(:published => true).order(:title).collect { |c| [c.title, c.id] }, :input_html => { :class => 'js_multiselect' }
	= f.input :person_types, :collection => PersonType.where(:published => true).collect { |c| [c.name, c.id] }, :input_html => { :class => 'js_multiselect' }
	= f.input :encyclicals, :collection => Encyclical.where(:published => true).collect { |c| [c.name, c.id] }, :input_html => { :class => 'js_multiselect' }
	= f.buttons do
		= f.submit :value => (@thought.new_record? ? 'Create Article' : 'Update Article')
