= semantic_form_for [:admin, @thought] do |f|
	= f.input :name
	= f.input :title
	- is_admin? do
		= f.input :users, :collection => User.by_last_name.collect { |c| [c.full_name, c.id] }, :label => "Authors", :input_html => { :class => 'js_multiselect' }
	= f.input :teaser, :input_html => { :class => 'js_editor' }, :label => 'Quote'
	= f.input :body, :input_html => { :class => 'js_editor' }
	= f.input :published
	= f.input :published_at, :as => :string, :input_html => { :class => 'js_start_date' }
	= f.input :feature_on_homepage
	= f.input :contemporary_issues, :collection => ContemporaryIssue.published.order(:title).collect { |c| [c.title, c.id] }, :input_html => { :class => 'js_multiselect' }
	= f.input :person_types, :collection => PersonType.published.collect { |c| [c.name, c.id] }, :input_html => { :class => 'js_multiselect' }
	= f.input :encyclicals, :collection => Encyclical.published.collect { |c| [c.name, c.id] }, :input_html => { :class => 'js_multiselect' }
	= f.input :thumbnail
	= remove_thumbnail_tag(f, @thought)
	= f.input :image 
	= remove_image_tag(f, @thought)
	= f.buttons do
		= f.submit :value => (@thought.new_record? ? 'Create Article' : 'Update Article')
