.page
	%h2 All Events
	- table(@events, ['title', 'type', 'location', 'chapter', '']) do |event, klass|
		%tr{:class => klass}
			%td= event.title
			%td= event.type
			%td= event.location.name rescue nil
			%td= event.chapter.name rescue nil
			%td.controls
				= link_to 'Edit', edit_admin_event_path(event)
				= link_to 'Delete', admin_event_path(event), :method => :delete, :confirm => "Are you sure?"
	.link
		= link_to 'New Event', new_admin_event_url
