<div class="page friendly">
  <h2>Sign Up</h2>

	<p>As a registered user, you'll be able to view exclusive site content and register for special events, conferences, and classes. We will occasionally send you notices about CAPP-sponsored events and news.</p>

	<p>Your privacy is of the upmost importance to us; we will not share your email with any other organization or 3rd party vendor.</p>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :first_name %><br />
    <%= f.text_field :first_name %></div>

    <div><%= f.label :last_name %><br />
    <%= f.text_field :last_name %></div>

    <div><%= f.label :title %><br />
    <%= f.text_field :title %></div>

    <div><%= f.label :phone %><br />
    <%= f.text_field :phone %></div>

    <div><%= f.label :email %><br />
    <%= f.email_field :email %></div>

    <div><%= f.label :password %><br />
    <%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %></div>

    <div><br /><%= f.check_box :email_list %> Yes, I would like to receive occasional updates from CAPP about new features and special offers.</div><br />

    <div><%= f.submit "Sign up" %></div>
  <% end %>

  <%= render "links" %>
</div>
