#bulk_email
	.background
		.wrapper
			%img{:src => "/images/capp-logo.png"}
			.page
				.body.message
					= @body
				- if @content_fragments.count > 0
					%hr
					.content_fragments
						- @content_fragments.group_by { |cf| cf.class.to_s }.each do |cft, cfs|
							.content_fragment_type= cft.titleize.pluralize
							- cfs.each do |cf|
								.content_fragment
									.title
										= link_to cf.title, url_for(cf)
									- unless cf.teaser.nil?
										.teaser
											= raw(cf.teaser)
									.author
										= cf.authors.map { |u| u.full_name }.join(", ")
