#bulk_email
	.background
		.wrapper
			%img{:src => "/images/capp-logo.png"}
			.page
				/ %h1 What's New @ CAPP
				%h1= @header
				.body.message
					= simple_format(@body)
				- if @content_fragments.count > 0
					.content_fragments
						- @content_fragments.group_by { |cf| cf.class.to_s }.each do |cft, cfs|
							.content_fragment_type= cft.titleize.pluralize
							- cfs.each do |cf|
								.thought.content_fragment
									.title
										= link_to cf.title, send("#{cf.class.to_s.underscore}_url".to_sym, cf)
									- unless cf.teaser.nil?
										.teaser
											= strip_tags(cf.teaser)
									.author
										= cf.authors.map { |u| u.full_name }.join(", ")
