%p= "Hello #{@attendee_event.first_name}"
%p
	Thank you for registering for
	%a{:href => event_url(@event)}
		= @event.title
		at
		= @event.location.name
		on
		= "#{@event.formatted_start}. "
	We look forward to seeing you there.
- if @event.display_advanced_payment_options
	%p
		%b Total Price
	%p
		= number_to_currency(@attendee_event.total_cost)
	%p
		%b Payment Method
	= render :partial => "events/method_#{@attendee_event.payment_method}"
- if @director
	%p
		Should there be any changes or important news regarding this event, we will contact you accordingly. If you have any questions regarding this event, the Program Contact is:
		= @director.full_name
		@
		= @director.work_phone
		or
		= "#{@director.email}."
%p
	Please do not reply to this email; this email address is used solely for outgoing email documents. For general inquiries by email, contact <a href="mailto:info@capp-usa.org">info@capp-usa.org</a>. To contact a CAPP-USA representative call 1-888-448-4788.
%p Sincerely,
%p Centesimus Annus Pro Pontifice, Inc (CAPP-USA)
