= semantic_form_for [:admin, @encyclical] do |f|
	= f.input :name
	= f.input :title
	= f.input :translated_title
	= f.input :body, :input_html => { :class => 'js_editor' }
	= f.input :published
	= f.input :published_at, :as => :string, :input_html => { :class => 'js_datetime' }
	= f.input :users, :collection => User.all.collect { |c| [c.full_name, c.id] }, :label => "Author", :input_html => { :class => 'js_multiselect' }
	= f.input :thumbnail
	= remove_thumbnail_tag(f, @page)
	= f.input :image 
	= remove_image_tag(f, @page)
	= f.buttons
