= semantic_form_for [:admin, @encyclical] do |f|
	= f.input :name
	= f.input :title
	= f.input :body, :input_html => { :class => 'js_editor' }
	= f.input :published
	= f.input :thumbnail
	= f.input :image
	= f.buttons
