.page.button_group
	= link_to "CSV", user_list_static_contact_list_path(@contact_list), :class => "btn_edit"
	= link_to "Delete", static_contact_list_path(@contact_list), :method => :delete, :class => "btn_edit", :confirm => "Are you sure you want to delete this list?"
	= link_to "Edit Name", edit_static_contact_list_path(@contact_list), :class => "btn_edit"
	= link_to "Add Contacts", "#", :class => "add_contacts_button btn_edit"
#contact_list_container
	= render :partial => "contact_list"
.page.button_group
	= link_to "Add Contacts", "#", :class => "add_contacts_button btn_edit"
	.clear
#contact_popup{:style => "display: none"}
:javascript
	$(document).ready(function() {
		$(".add_contacts_button").click(function(e) {
			e.preventDefault();
			$("#contact_popup").show();
			$("#contact_popup").load("#{popup_contact_lists_path}");
		});
		$("#contact_popup_container a.add_contact").live("click", function(e) {
			e.preventDefault();
			var t = $(this);
			$.post("#{add_contact_static_contact_list_path(@contact_list)}", { contact_id: t.attr('data-id') }, null, "script");
		});
	});
