= semantic_form_for [:admin, @story] do |f|
	= f.inputs :name => 'Basic' do
		= f.input :title
		= f.input :body, :input_html => { :class => 'js_editor' }
		= f.input :category, :collection => Story.categories
	= f.inputs :name => 'Advanced' do
		= f.input :published
		= f.input :teaser, :input_html => { :class => 'js_editor' }
	= f.buttons do
		= f.submit :value => (@story.new_record? ? 'Create News Story' : 'Update News Story')
