%h2= "#{@contact_list.display_name} (#{@contact_list.contacts.count})"
%table.data_table
	%thead
		%tr
			%th Email
			%th Name
	- @contact_list.contacts.each do |contact|
		%tr{:class => cycle("odd", "even")}
			%td= contact.email
			%td
				- if contact.account_holder?
					= link_to contact.full_name, edit_admin_user_path(contact.user, :return_url => request.url)
				- else
					= link_to contact.full_name, edit_admin_contact_path(contact.contact, :return_url => request.url)
