.page
	= render :partial => 'shared/share'
	- if is_admin?
		= link_to 'Edit', content_fragment_edit_url(@contemporary_issue), :class => 'btn_edit'
	%h2
		Contemporary Issue:
		%span.contemporary_issue_title= @contemporary_issue.title
	- if @contemporary_issue.image?
		%br
		= image_tag @contemporary_issue.image.url(:normal), :class => 'content_fragment_header_image'
	= parse_references(@contemporary_issue.parsed_body).html_safe rescue ""
	- if !@contemporary_issue.questions.empty?
		= render :partial => 'questions/question', :collection => @contemporary_issue.questions
	- if is_admin?
		= link_to 'Add Question', new_admin_question_path(:id => @contemporary_issue.id), :class => 'btn_edit left'

- if !@contemporary_issue.encyclicals.empty?
	%hr
	.page
		%h3 Related Encyclicals
		= render :partial => 'encyclicals/list', :object => @contemporary_issue
		%div{:style => 'clear: both'}

%hr
.page
	%h3
		Related Thoughts on
		%span.contemporary_issue_title= @contemporary_issue.title
	.random_thought
		- thought1 = @contemporary_issue.random_thought
		- if thought1.image?
			= link_to image_tag(thought1.image.url(:normal), :class => 'contemporary_issue_random_thought_image'), thought_path(thought1)
		- if thought1
			.thought_quote
				= strip_tags(thought1.teaser)
				= "Taken from "
				= link_to '"' + thought1.title+"\"", thought_path(thought1)
			.thought_author_container
				- if !thought1.users.empty?
					by:
					- thought1.users.each do |user|
						.thought_author= link_to user.full_name, user_path(user)
						.thought_image= link_to image_tag(user.profile_image(:small), :class => 'profile_image', :width => 24, :height => 24, :class => 'user_image'), user_path(user)
	.random_thought
		- if @contemporary_issue.related_thoughts_count >= 2
			- thought2 = @contemporary_issue.random_thought
			- if thought2.image?
				= link_to image_tag(thought2.image.url(:normal), :class => 'contemporary_issue_random_thought_image'), thought_path(thought2)
			- while thought2 == thought1
				- thought2 = @contemporary_issue.random_thought
			- if thought2
				.thought_quote
					= strip_tags(thought2.teaser)
					= "Taken from "
					= link_to '"' + thought2.title+"\"", thought_path(thought2)
				.thought_author_container
					- if !thought2.users.empty?
						by:
						- thought2.users.each do |user|
							.thought_author= link_to user.full_name, user_path(user)
							.thought_image= link_to image_tag(user.profile_image(:small), :class => 'profile_image', :width => 24, :height => 24, :class => 'user_image'), user_path(user)
	.random_thought
		- if @contemporary_issue.related_thoughts_count >= 3
			- thought3 = @contemporary_issue.random_thought
			- if thought3.image?
				= link_to image_tag(thought3.image.url(:normal), :class => 'contemporary_issue_random_thought_image'), thought_path(thought3)
			- while (thought3 == thought1) || (thought3 == thought2)
				- thought3 = @contemporary_issue.random_thought
			- if thought3
				.thought_quote
					= strip_tags(thought3.teaser)
					= "Taken from "
					= link_to '"' + thought3.title+"\"", thought_path(thought3)
				.thought_author_container
					- if !thought3.users.empty?
						by:
						- thought3.users.each do |user|
							.thought_author= link_to user.full_name, user_path(user)
							.thought_image= link_to image_tag(user.profile_image(:small), :class => 'profile_image', :width => 24, :height => 24, :class => 'user_image'), user_path(user)
- if !@contemporary_issue.events.upcoming.empty?
	%hr
	.page
		%h3
			
			Related Events on
			%span.contemporary_issue_title= @contemporary_issue.title
		= render :partial => 'events/teaser', :collection => @contemporary_issue.events.upcoming
- speakers = @contemporary_issue.speakers
- if !speakers.empty?
	%hr
	.page
		%h3
			Related Speakers / Panelists / Authors on:
			%span.contemporary_issue_title= @contemporary_issue.title
		= render :partial => 'users/list', :object => speakers
