= render :partial => 'header'
.page
	%h2
		Contemporary Issue:
		%span.contemporary_issue_title= @contemporary_issue.title
	= @contemporary_issue.body.html_safe rescue ""
	- if !@contemporary_issue.encyclicals.empty?
		Related Encyclicals:
		= render :partial => 'encyclicals/list', :object => @contemporary_issue
		%div{:style => 'clear: both'}
- thought = @contemporary_issue.random_thought
- if thought
	%hr
	.page
		%h3
			Related Thoughts on
			%span.contemporary_issue_title= @contemporary_issue.title
		.thought_quote
			= strip_tags(thought.teaser)
			= link_to 'Read more', thought_path(thought)
		.thought_author_container
			- if thought.user
				by:
				.thought_author= link_to thought.user.full_name, user_path(thought.user)
				.thought_image= link_to image_tag(thought.user.profile_image(:small), :class => 'profile_image', :width => 24, :height => 24, :class => 'user_image'), user_path(thought.user)

%hr
.page
	%h3
		Related Events on
		%span.contemporary_issue_title= @contemporary_issue.title
	= render :partial => 'events/teaser', :collection => @contemporary_issue.events
- speakers = @contemporary_issue.speakers
- if !speakers.empty?
	%hr
	.page
		%h3
			Related Speakers / Panelists / Authors on:
			%span.contemporary_issue_title= @contemporary_issue.title
		= render :partial => 'users/list', :object => speakers
