= render :partial => 'header'
.page
	%h2
		Contemporary Issue:
		%span.contemporary_issue_title= @contemporary_issue.title
	= @contemporary_issue.body.html_safe rescue ""
- if !@contemporary_issue.encyclicals.empty?
	.page
		= render :partial => 'encyclicals/list', :object => @contemporary_issue
		%div{:style => 'clear: both'}
- thought = @contemporary_issue.random_thought
- if thought
	%hr
	.page
		%h3
			Related Thoughts
		.thought_quote= thought.teaser.html_safe
		.thought_author_container
			by:
			.thought_author= thought.user.full_name rescue nil

%hr
.page
	%h3
		Related Events
	= render :partial => 'events/teaser', :collection => Event.upcoming(100)
- speakers = @contemporary_issue.speakers
- if !speakers.empty?
	%hr
	.page
		%h3
			Related Speakers
		= render :partial => 'users/list', :object => speakers
