.user_page
	.page
		- if is_admin?
			= link_to 'Edit', edit_admin_user_url(@user), :class => 'btn_edit'
			= link_to 'Send Activation', activate_admin_user_path(@user), :class => 'btn_edit clear', :method => :post, :style => "margin-top: 8px", :confirm => "Are you sure you want to email this account holder an activation email?"
		%table.profile_table
			%tr
				%td
					= image_tag @user.profile_image(:small), :class => 'profile_image', :width => 80, :height => 80, :class => 'user_image'
				%td.about_td
					%h2
						= @user.full_name
					%h5
						= @user.title
						- if @user.person_type
							|
							= @user.person_type.name
						- if @user.chapter
							|
							= @user.chapter.name
					= @user.about.html_safe rescue ''
					- if !@user.contemporary_issues.published.empty?
						%h4 Interested In:
						- @user.contemporary_issues.published.each do |issue|
							= link_to issue.title, contemporary_issue_path(issue), :class => 'contemporary_issue_link'
	- if !@user.events.empty?
		%hr
		.page
			%h4 Speaker / Panelist at Upcoming Event(s):
			.event_teaser_list#js_event_list
				- @user.events.each do |event|
					.event_teaser_list_item
						= render :partial => 'events/teaser', :object => event
	- if !@user.thoughts.has_body.published.empty?
		%hr
		.page
			%h4 Articles on Catholic Social Teaching:
			#js_thought_list
				- @user.thoughts.has_body.published.each do |thought|
					.thought_teaser_list_item
						= render :partial => 'thoughts/teaser', :object => thought
	- if !@user.thoughts.no_body.published.empty?
		%hr
		.page
			%h4 Quotes:
			#js_quotes_list
				- @user.thoughts.no_body.published.each do |thought|
					.thought_teaser_list_item
						= render :partial => 'thoughts/teaser', :object => thought

