%table.right_col
	%tr.capptv
		%td.padding_in10
			%h5 Latest Episode
			%a{:href => "/social_thought/185"}
				%img{:src => "/assets/CAPP-USA-TV-True-Interaction.jpg"}
			%p.arial.size11.cgrey 
				Sign up for news, courses and events tailored to your interests.
				%a{:href => "/social_thought/185"} Watch Online
	%tr.subscribe_box
		%td.padding_in10
			%h5 Stay Informed!
			%p.arial.size11.cgrey Sign up for news, courses and events tailored to your interests.
			= form_for Contact.new do |f|
				= f.text_field :email, { :class => 'email_box', :id => 'js_email_address', :'data-label' => 'Add Email' }
				= f.submit :class => 'btn_connect', :value=> 'Subscribe'

	%tr.contact_popup_button#js_contact_popup_button
		%td.padding_in10
			%h5 Voice your Opinion!
			.btn_connect Send us a note!
.contact_popup_voice#js_contact_popup{:style => 'display: none'}
	.title_bar
		.close_button cancel
		.title Voice your Opinion!
	%p See something you'd like to change? Voice your opinion to capp-usa, and let's see what we can do together!
	.popup_body
		= semantic_form_for Contact.new do |f|
			/= f.input :prefix, :wrapper_html => { :class => 'half_width' }, :as => :select, :collection => Contact::NAME_PREFIXES
			= f.input :first_name, :wrapper_html => { :class => 'half_width float' }
			/= f.input :last_name, :wrapper_html => { :class => 'half_width float' }
			= f.input :email
			/= f.input :address
			/= f.input :address_2, :label => "Address Line 2"
			/= f.input :city
			/= f.input :state, :wrapper_html => { :class => 'half_width float' }, :as => :select, :collection => Contact::US_STATES
			/= f.input :zip_code, :wrapper_html => { :class => 'half_width float' }
			/= f.input :home_phone
			= f.input :note, :label => "Your Note", :input_html => { :style => "background-color: #ffc" }
			= f.actions do
				= f.action :submit, :as => :input, :label => "Send"
				/= f.action :reset, :as => :input, :label => "Cancel", :button_html => { :class => "close_button" }
