- thoughts = Thought.published.has_body.order("published_at desc").includes(:users).limit(5)
#home_thoughts
	.section_header
		.hp
			%h4	Articles
			.view_all= link_to 'view all', thoughts_path
	- thoughts.each do |thought|
		.thought
			%table
				%tr
					%td
						- if !thought.users.empty?
							.thought_author_container
								.thought_author
									.thought_image= link_to image_tag(thought.users.first.profile_image(:small), :class => 'profile_image', :width => 60, :height => 60, :class => 'user_image'), user_path(thought.users.first), :title => thought.users.first.full_name
					%td
						.thought_teaser
							.story_title= link_to thought.title, thought_path(thought)
							= strip_tags(thought.teaser) rescue ""
							- if !thought.body.empty?
								= link_to "Read more", thought_path(thought)
						
					/			
	.view_all.btm_link= link_to 'Read More Articles', thoughts_path
