%table.right_col
	%tr
		%td.padding_in10
			%h5 User Menu
			%ul#user_menu
				%li
					- is_user? do
						Content
						%ul
							- is_admin? do
								%li
									= link_to 'Blocks', blocks_url
								%li
									= link_to 'Encyclicals', encyclicals_url
								%li
									= link_to 'Pages', pages_url
								%li
									= link_to 'Stories', stories_url
							- is_thought_creator? do
								%li
									= link_to 'Thoughts', thoughts_url
				- is_admin? do
					%li
						Taxonomy
						%ul
							%li
								= link_to 'Contemporary Issues', contemporary_issues_url
							%li
								= link_to 'Person Types', person_types_url
							%li
								= link_to 'Prism Types', prism_types_url
							%li
								= link_to 'Role Types', role_types_url
					%li
						Events
						%ul
							%li
								= link_to 'Chapters', chapters_url
							%li
								= link_to 'Events', events_url
							%li
								= link_to 'Locations', locations_url
					%li
						= link_to 'Menu Items', menu_items_url
					%li
						= link_to 'Users', users_url
				- if user_signed_in?
					%li &nbsp;
					%li
						= link_to 'logout', destroy_user_session_url, :method => :delete
				- else
					%li
						= link_to 'login', new_user_session_url

