%table.right_col
  %tr
    %td.padding_in10
      %h5 User Menu
      %ul#user_menu
        - if user_signed_in?
          %li
            Content
            %ul
              %li
                = link_to 'Pages', pages_url
              %li
                = link_to 'Contemporary Issues', contemporary_issues_url
              %li
                = link_to 'Person Types', person_types_url
              %li
                = link_to 'Prism Types', prism_types_url
              %li
                = link_to 'Role Types', role_types_url
              %li
                = link_to 'Thoughts', thoughts_url
              %li
                = link_to 'Blocks', blocks_url
          %li
            = link_to 'Menu', menu_items_url
          %li &nbsp;
          %li
            = link_to 'logout', destroy_user_session_url, :method => :delete
        - else
          %li
            = link_to 'login', new_user_session_url

