- if is_admin? || is_speaker? || is_thought_creator?
	%table.right_col
		%tr
			%td.padding_in10
				%h5 User Menu
				%ul#user_menu
					%li
						- is_thought_creator? do
							Content
							%ul
								- is_admin? do
									%li= link_to 'Blocks', admin_blocks_url
									%li= link_to 'Social Encyclicals', admin_encyclicals_url
									%li= link_to 'Pages', admin_pages_url
									%li= link_to 'News Stories', admin_stories_url
									%li= link_to 'Questions', admin_questions_url
									%li= link_to 'Feed Sources', admin_feed_sources_url
								- is_thought_creator? do
									%li= link_to 'Articles', admin_thoughts_url
					- is_admin? do
						%li
							Taxonomy
							%ul
								%li= link_to 'Contemporary Issues', admin_contemporary_issues_url
								%li= link_to 'Person Types', admin_person_types_url
								%li= link_to 'Prism Types', admin_prism_types_url
								%li= link_to 'Role Types', admin_role_types_url
								%li= link_to 'Principles', admin_principles_url
								%li= link_to 'Papal Addresses', admin_papal_addresses_url
						%li
							Events
							%ul
								%li= link_to 'Chapters', admin_chapters_url
								%li= link_to 'Events', admin_events_url
								%li= link_to 'Locations', admin_locations_url
						%li
							Mailer
							%ul
								%li= link_to "Send Mail", new_sent_email_message_path
								%li= link_to "Sent", sent_email_messages_path
								%li Contact Lists
								%li
									%ul
										- ContactList.all_contact_lists.each do |list|
											%li
												%a{:href => contact_list_href(list)}= list.display_name
								%li= link_to "New Contact List", new_static_contact_list_path
									
						%li= link_to 'Menu Items', admin_menu_items_url
						%li= link_to 'Users', admin_users_url
						%li= link_to 'Contacts', admin_contacts_url
					- if user_signed_in?
						%li &nbsp;
						%li= link_to 'logout', destroy_user_session_url, :method => :delete
					- else
						%li= link_to 'login', new_user_session_url

