:javascript
	$(function() {
		$(".top_nav").removeClass("active");
		$("#top_nav_study_center").addClass("active");
	});
.page
	%h2.inline Encyclicals
	.inline
		= form_for User.new, :url => "/encyclicals/search", :method => :get, :html => { :class => "search_page_form js_page_search_form" } do |f|
			%input.search_input#js_search_input{:name => "eq", :size => "30", :type => "text", :value => (@eq rescue '')}
			%input#js_search_authors{:type => 'hidden', :name => 'author', :value => ''}
			%input#js_search_encyclicals{:type => 'hidden', :name => 'encyclical_id', :value => ''}
			%input#js_search_submit{:type => "submit", :value => "Search"}
.event_header_navigation
	- if controller.action_name == 'published'
		= link_to 'sort by title', encyclicals_path
		\/
		%span sort by publication date
	- else
		%span sort by title
		\/
		= link_to 'sort by publication date', published_encyclicals_path
:javascript
	$(document).ready(function() {
		if ($("#js_search_input").val() != "") {
			$("#js_search_submit").click();
		}
	});
%table.left_menu_container.encyclical_left_menu_container
	%tr
		%td.left_menu.encyclical_left_menu
			.left_menu_item
				%strong Authors:
				- Encyclical.users.sort_by(&:full_name).each do |user|
					.element{:'data-category' => 'author', :'data-value' => user.id}
						= check_box_tag :whatever
						= user.full_name
		%td.content_with_left_menu
			%table.encyclical_teaser_list#js_encyclical_list
				- if @encyclicals.empty?
					%tr
						%td.no_results{:colspan => 10}
							= "No results for the given authors."
				- else
					- @encyclicals.each do |encyclical|
						= render :partial => 'teaser', :object => encyclical
:javascript
	$('.element input').click(function() {
		encyclical_search();
	});

	$(".js_page_search_form").submit(function() {
		encyclical_search();
		return false;
	});

	function encyclical_search() {
		var ps = collect_params();
		var path = #{controller.action_name == 'published' ? "'/social_encyclicals/published?'" : "'/social_encyclicals?'"};
		$('#js_encyclical_list').load(path + ps);
	}

	function collect_params() {
		var param_string = [];
		param_string.push(collect_params_for('author'));
		param_string.push(collect_params_for('encyclical_id'));
		param_string.push(collect_text_query());
		return(param_string.join('&'));
	}

	function collect_text_query() {
		return "eq=" + $("#js_search_input").val();
	}

	function collect_params_for(cat) {
		var params = [];
		$('.element[data-category="' + cat + '"] input:checked').each(function() {
			var container = $(this).closest('.element');
			params.push(escape(container.attr('data-value')));
		});
		return(cat + '=' + params.join(','));
	}
