= render :partial => 'shared/share'
:javascript
	$(function() {
		$(".top_nav").removeClass("active");
		$("#top_nav_study_center").addClass("active");
	});
.page
	= render :partial => 'users/list', :object => @encyclical.users
	= render :partial => 'content_fragments/page', :object => @encyclical
:javascript
	$(document).ready(function() {
		var chapter = window.location.hash.replace("#", "");
		if (chapter != "") {
			$("#" + chapter).addClass("found");
		}
		if ("#{params[:hl]}" != "") {
			$("p.chapter").each(function() {
				var chapter = $(this)[0];
				var regex = new RegExp("\\b#{params[:hl]}\\b", "gi");
				chapter.innerHTML = chapter.innerHTML.replace(regex, function(matched) {
					return "<span class=\"highlighted\">" + matched + "</span>";
				});
			});
		}
	});
