.page
	- num = 0
	- Thought.no_body.published.where(:feature_on_homepage => true).sort_by { rand }.each do |quote|
		- num += 1
		.slideshow.js_slideshow{:class => "slide#{num}", :style => "background: url(#{quote.image}); #{num != 1 ? "display: none" : ""}"}
			.sheen_black.sheen_homepage_title
				%table
					%tr
						%td
							%img{:src => (quote.users.first.profile_image rescue "")}
						%td.homepage_quote
							%h1
								= quote.teaser.html_safe
							%h2
								= quote.users.first.full_name rescue ''
	.homepage_overlay
		%table.homepage_principles_prisms
			%tr
				%td
					.three_principles
						%a{:href => "/principles/48"}
							.principle.sheen_white
								%h2 Human Dignity
						%a{:href => "/principles/50"}
							.principle.sheen_white 
								%h2 Solidarity
						%a{:href => "/principles/49"}
							.principle.sheen_white.last 
								%h2 Subsidarity
	.three_prisms
		%a{:href => "/prism_types/10"}
			.prism.sheen_white 
				%h2 Economics
		%a{:href => "/prism_types/9"}
			.prism.sheen_white 
				%h2 Government & Politics
		%a{:href => "/prism_types/11"}
			.prism.sheen_white 
				%h2 Culture


- if @page
	%table#home_bottom_blocks
		%tr.address_course_event_row
			%td.email_address_block= render :partial => 'shared/email_address_block'
			%td.upcoming_course_block= render :partial => 'shared/home_upcoming_course'
			%td.upcoming_event_block.last= render :partial => 'shared/home_upcoming_event'
		%tr.thoughts_news_row
			%td.thoughts_block{:colspan => 2}= render :partial => 'shared/home_thoughts_block'
			%td.news_block= render :partial => 'shared/home_news_block'
- else
	.page
		Create a page with a url of "/" to not see this page anymore.
