.page
	.slideshow.slide1.js_slideshow
		.sheen_black.sheen_homepage_title
			%table
				%tr
					%td
						%img{:src => "/images/profiles/popebenedict.jpg"}
					%td.homepage_quote
						%h1
							"Without internal forms of 
							%a{:href => "/principles/50"} Solidarity
							and mutual trust, the market cannot completely fulfill its proper economic function."
						%h2
							Pope Benedict XVI, 
							%a{:href => "/encyclicals/47"}Caritas in Veritate, 35.
	.slideshow.slide2.js_slideshow{:style => "display:none;"}
		.sheen_black.sheen_homepage_title 
			%table
				%tr
					%td
						%img{:src => "/images/profiles/johnpaulII.jpg"}
					%td.homepage_quote
						%h1 
							"To destroy such structures and replace them with more authentic forms of living in community is a task which demands courage and patience."
						%h2
							The Blessed Pope John Paul II, 
							%a{:href => "/encyclicals/45"}Centessimus Annus, 38.
	.slideshow.slide3.js_slideshow{:style => "display:none;"}
		.sheen_black.sheen_homepage_title
			%table
				%tr
					%td
						%img{:src => "/images/profiles/popebenedict.jpg"}
					%td.homepage_quote
						%h1 
							“The State which would provide everything, absorbing everything into itself, would ultimately become a mere bureaucracy.”
						%h2 
							Pope Benedict XVI, 
							%a{:href => "/encyclicals/46"}Deus Caritas Est, 28.
			

	.homepage_overlay
		%table.homepage_principles_prisms
			%tr
				%td
					.three_principles
						%a{:href => "/principles/48"}
							.principle.sheen_white
								%h2 Human Dignity
						%a{:href => "/principles/50"}
							.principle.sheen_white 
								%h2 Solidarity
						%a{:href => "/principles/49"}
							.principle.sheen_white.last 
								%h2 Subsidarity
	.three_prisms
		%a{:href => "/prism_types/10"}
			.prism.sheen_white 
				%h2 Economics
		%a{:href => "/prism_types/9"}
			.prism.sheen_white 
				%h2 Government & Politics
		%a{:href => "/prism_types/11"}
			.prism.sheen_white 
				%h2 Culture


- if @page
	%table#home_bottom_blocks
		%tr.address_course_event_row
			%td.email_address_block= render :partial => 'shared/email_address_block'
			%td.upcoming_course_block= render :partial => 'shared/home_upcoming_course'
			%td.upcoming_event_block.last= render :partial => 'shared/home_upcoming_event'
		%tr.thoughts_news_row
			%td.thoughts_block{:colspan => 2}= render :partial => 'shared/home_thoughts_block'
			%td.news_block= render :partial => 'shared/home_news_block'
- else
	.page
		Create a page with a url of "/" to not see this page anymore.
