.page
	%table.index_scroller_table
		%tr
			%td.scroller_column
				- num = 0
				- Thought.no_body.published.where(:feature_on_homepage => true).sort_by { rand }.each do |quote|
					- num += 1
					.slideshow.js_slideshow{:class => "slide#{num}", :style => "background: url(#{quote.image}); #{num != 1 ? "display: none" : ""}"}
						.sheen_black.sheen_homepage_title
							%table
								%tr
									%td
										%img{:width => 80, :height => 80, :src => (quote.users.first.profile_image(:small) rescue "")}
									%td.homepage_quote
										%h1
											= quote.teaser.html_safe
										%h2
											= quote.users.first.full_name rescue ''
				.three_principles
					- [48,50,49].each do |id|
						- principle = ContentFragment.where(:id => id).first
						- if principle
							%a{:href => object_url(principle)}
								.principle.sheen_white{:style => "background: url(#{principle.thumbnail})"}
									%h2= principle.name
			%td.side_column
				.three_prisms
					- [10,9,11].each do |id|
						- prism = ContentFragment.where(:id => id).first
						- if prism
							%a{:href => object_url(prism)}
								.prism.sheen_white{:style => "background: url(#{prism.thumbnail})"}
									%h2= prism.name
				.email_address_block= render :partial => 'shared/email_address_block'
- if @page
	%table#home_bottom_blocks
		%tr.thoughts_news_row
			%td.thoughts_block{:colspan => 2}= render :partial => 'shared/home_thoughts_block'
			%td
				.news_block= render :partial => 'shared/home_news_block'
				.upcoming_course_block= render :partial => 'shared/home_upcoming_course'
				.upcoming_event_block= render :partial => 'shared/home_upcoming_event'
- else
	.page
		Create a page with a url of "/" to not see this page anymore.
