.page
	.slideshow.slide1.js_slideshow
		.sheen_black
			%table
				%tr
					%td
						%img{:src => "http://capp-usa.dmtprogramming.net/system/profile_images/7/small/jp2.jpg?1329939767"}
					%td.homepage_quote
						%h2 
							"Without internal forms of 
							%a{:href => "/principles/50"}
								SOLIDARITY
							and mutual trust, the market cannot completely fulfill its proper economic function."
						%h4 
							The Blessed Pope John Paul II - 
							%a{:href => "/encyclicals/47"}Caritas en Veritate
	.slideshow.slide2.js_slideshow{:style => "display:none;"}
		.sheen_black 
			%table
				%tr
					%td
						%img{:src => "http://capp-usa.dmtprogramming.net/system/profile_images/7/small/jp2.jpg?1329939767"}
					%td.homepage_quote
						%h2 
							"Without internal forms of 
							%a{:href => "/principles/50"}
								SOLIDARITY
							and mutual trust, the market cannot completely fulfill its proper economic function."
						%h4 
							The Blessed Pope John Paul II - 
							%a{:href => "/encyclicals/47"}Caritas en Veritate
	.slideshow.slide3.js_slideshow{:style => "display:none;"}
		.sheen_black
			%table
				%tr
					%td
						%img{:src => "http://capp-usa.dmtprogramming.net/system/profile_images/7/small/jp2.jpg?1329939767"}
					%td.homepage_quote
						%h2 
							"Without internal forms of 
							%a{:href => "/principles/50"}
								SOLIDARITY
							and mutual trust, the market cannot completely fulfill its proper economic function."
						%h4 
							The Blessed Pope John Paul II - 
							%a{:href => "/encyclicals/47"}Caritas en Veritate
			

	.homepage_overlay
		%table.homepage_principles_prisms
			%tr
				%td
					.three_principles
						%a{:href => "/principles/48"}
							.principle.sheen_white
								%h2 Human Dignity
						%a{:href => "/principles/50"}
							.principle.sheen_white 
								%h2 Solidarity
						%a{:href => "/principles/49"}
							.principle.sheen_white.last 
								%h2 Subsidarity
	.three_prisms
		%a{:href => "/prism_types/10"}
			.prism.sheen_white 
				%h2 Economics
		%a{:href => "/prism_types/9"}
			.prism.sheen_white 
				%h2 Government & Politics
		%a{:href => "/prism_types/11"}
			.prism.sheen_white 
				%h2 Culture


- if @page
	%table#home_bottom_blocks
		%tr.address_course_event_row
			%td.email_address_block= render :partial => 'shared/email_address_block'
			%td.upcoming_course_block= render :partial => 'shared/home_upcoming_course'
			%td.upcoming_event_block.last= render :partial => 'shared/home_upcoming_event'
		%tr.thoughts_news_row
			%td.thoughts_block{:colspan => 2}= render :partial => 'shared/home_thoughts_block'
			%td.news_block= render :partial => 'shared/home_news_block'
- else
	.page
		Create a page with a url of "/" to not see this page anymore.
