.page
	%table.index_scroller_table
		%tr
			%td.scroller_column
				- num = 0
				- Thought.no_body.published.where(:feature_on_homepage => true).order("updated_at desc").each do |quote|
					- num += 1
					.black
						.slideshow.js_slideshow{:class => "slide#{num}", :style => "background: url(#{quote.image}); #{num != 1 ? "display: none" : ""}"}
							.sheen_black.sheen_homepage_title
								%table
									%tr
										%td
											%img{:width => 80, :height => 80, :src => (quote.users.first.profile_image(:small) rescue "")}
										%td.homepage_quote
											%h1
												= quote.teaser.html_safe
											%h2
												= quote.users.first.full_name rescue ''
	= render :partial => 'shared/home_upcoming_featured'
	.about_cst 
		.strong 
			Catholic Social Teaching
		answers a question posed by Tolstoy:
		%br
		“How, then, shall we live our life?”
		%a.button_home{:href => "/what_is_cst"} Learn More
	%hr
	%table
		%tr
			%td
				.col_half
					.three_principles
						%h4.center Learn what the Catholic Church has to say about:
						- PrismType.published.where(:feature_on_homepage => true).order(:weight).limit(3).each do |prism|
							%a{:href => prism_type_url(prism)}
								.principle.menu_item_box_home
									%img{:src => prism.image, :width => 120, :height => 70}
									.bottom= prism.name

			%td
				.col_half
					.three_principles
						%h4.center Learn about the 3 Principles of Catholic Social Teaching:
						- Principle.published.where(:feature_on_homepage => true).order(:weight).limit(3).each do |principle|
							%a{:href => principle_url(principle)}
								.principle.menu_item_box_home
									%img{:src => principle.thumbnail, :width => 120, :height => 70}
									.bottom= principle.name

%hr
- if @page
	%table#home_bottom_blocks
		%tr.thoughts_news_row
			%td.thoughts_block.col_two_three{:colspan => 2}= render :partial => 'shared/home_thoughts_block'
			%td.newscourse_block.col_three
				.newsletter_capture
					%h4 Get our Newsletter
					.arial.size11.cgrey and receive the latest CAPP-related news and information.
					= form_for Contact.new do |f|
						%table
							%tr
								%td= f.text_field :email, { :class => 'email_box', :id => 'js_email_address', :'data-label' => 'Add Your Email' }
								%td= f.submit :class => 'submit_btn', :value=> 'Submit'
				%h3.center OR
				%a#home_signup_button{:href => new_registration_path(User)} Sign up for a CAPP-USA.org account
				.arial.size11.cgrey A CAPP-USA account gives you access to sponsored Events, Courses and more.
				= render :partial => 'shared/home_upcoming_course'
				= render :partial => 'shared/home_upcoming_event'
				.news_block= render :partial => 'shared/home_news_block'
- else
	.page
		Create a page with a url of "/" to not see this page anymore.
