.page.study_center
	- if @page
		= render :partial => 'content_fragments/page', :object => @page
	- else
		Create a page with a url of "/study_center" to not see this page anymore.
%table.study_center_blocks
	%tr.first_row
		%td.first_block
			= Block.display("study_center_courses")
			= select_tag 'courses', options_for_select({"Choose a Course" => ""}) + options_from_collection_for_select(Event.course_types, "id", "title")
			:javascript
				$("#courses").change(function() {
					id = $(this).val();
					if (id) {
						window.location = "/events/" + id;
					}
				});
		%td
			= Block.display("study_center_issues")
			= select_tag 'contemporary_issues', options_for_select({"Choose a Contemporary Issue" => ""}) + options_from_collection_for_select(ContemporaryIssue.published.order(:title), "id", "title")
			:javascript
				$("#contemporary_issues").change(function() {
					id = $(this).val();
					if (id) {
						window.location = "/contemporary_issues/" + id;
					}
				});
	%tr
		%td.first_block
			= Block.display("study_center_encyclicals")
			= select_tag 'encyclicals', options_for_select({"Choose an Encyclical" => ""}) + options_from_collection_for_select(Encyclical.published.order(:title), "id", "title")
			:javascript
				$("#encyclicals").change(function() {
					id = $(this).val();
					if (id) {
						window.location = "/encyclicals/" + id;
					}
				});
		%td
			= Block.display("study_center_other")
