- if @teaser_events != nil
	- @teaser_events.each do |teaser|
		%table.event_teaser
			%tr
				%td{:style => 'width: 450px'}
					- if teaser.type
						%span.event_type{ :class => "event_type_#{teaser.type.downcase.gsub(" ", "_")}"}
							= teaser.type				
					%h5.event_title
						= link_to teaser.title, event_path(teaser)
					.event.teaser= strip_tags(teaser.teaser) rescue ""
					- if teaser.celebrants.count > 0 || teaser.speakers.count > 0
						.event_users
							- if teaser.celebrants.count > 0
								.event_celebrants
									Celebrants:
									= teaser.celebrants.by_last_name.collect { |c| link_to c.full_name, user_path(c) }.join(", ").html_safe
							- if teaser.speakers.count > 0
								.event_speakers
									Speakers:
									= teaser.speakers.by_last_name.collect { |c| link_to c.full_name, user_path(c) }.join(", ").html_safe
				%td.event_time{:style => 'width: 100px'}
					= teaser.short_start
					%br
					.event_about_time
						= teaser.duration_in_words
				%td{:style => 'width: 40px'}
					.rsvp
						= link_to "VIEW", event_path(teaser)
					/
						- if teaser.attendees.include?(current_user)
							.unrsvp
								= link_to 'UnRSVP', unrsvp_event_url(teaser), :method => :post
						- else
							- if teaser.spots_left > 0
								.rsvp
									= link_to "RSVP", rsvp_event_url(teaser), :method => :post
- else
	%table.event_teaser
		%tr
			%td{:style => 'width: 60px; text-align: center; padding-right: 20px;'}
				.event_short_start= teaser.short_start
				.event_about_time= teaser.duration_in_words
			%td{:style => 'width: 450px'}
				- if teaser.type
					%span.event_type.inline{:class => "event_type_#{teaser.type.downcase.gsub(" ", "_")}"}= teaser.type
				%h5.event_title.inline= link_to teaser.title, event_path(teaser)
				%br
				.inline.strong When:
				.inline= teaser.full_start
				%br
				.inline.strong Where:
				.inline= teaser.location.name
				.event.teaser= strip_tags(teaser.teaser) rescue ""
				- if teaser.celebrants.count > 0 || teaser.speakers.count > 0
					.event_users
						- if teaser.celebrants.count > 0
							.event_celebrants
								.strong Celebrants:
								= teaser.celebrants.by_last_name.collect { |c| link_to c.full_name, user_path(c) }.join(", ").html_safe
						- if teaser.speakers.count > 0
							.event_speakers
								.strong Speakers:
								= teaser.speakers.by_last_name.collect { |c| link_to c.full_name, user_path(c) }.join(", ").html_safe
							

			/
				%td{:style => 'width: 40px'}
					.rsvp
						= link_to "VIEW", event_path(teaser)
					- if teaser.attendees.include?(current_user)
						.unrsvp
							= link_to 'UnRSVP', unrsvp_event_url(teaser), :method => :post
					- else
						- if teaser.spots_left > 0
							.rsvp
								= link_to "RSVP", rsvp_event_url(teaser), :method => :post

