%table.event_teaser
	%tr
		%td{:style => 'width: 450px'}
			%h5.event_title
				= link_to teaser.title, event_path(teaser)
				- if teaser.type
					%span.event_type{ :class => "event_type_#{teaser.type.downcase.gsub(" ", "_")}"}
						= teaser.type
			.event.teaser= strip_tags(teaser.teaser) rescue ""
			- if teaser.location
				.event_location
					Location: 
					= link_to teaser.location.name, location_path(teaser.location)
			- if teaser.users.count > 0
				.event_speakers
					Speakers:
					= teaser.users.collect { |c| link_to c.full_name, user_path(c) }.join(", ").html_safe
		%td.event_time{:style => 'width: 100px'}
			= teaser.short_start
			%br
			.event_about_time
				= distance_of_time_in_words(teaser.duration) rescue ''
		%td.event_spots{:style => 'width: 40px'}
			%span.event_spots_available= teaser.spots_available
			spots left
		%td{:style => 'width: 40px'}
			.rsvp
				= link_to "VIEW", event_path(teaser)
