%table.event_teaser
	%tr
		%td{:style => 'width: 450px'}
			%h5.event_title= link_to teaser.title, event_path(teaser)
			.event.teaser= strip_tags(teaser.teaser) rescue ""
			- if teaser.location
				.event_location
					Location: 
					= link_to teaser.location.name, location_path(teaser.location)
			- if teaser.speaker
				.event_speaker
					Speaker:
					= teaser.speaker.full_name
					/= link_to teaser.speaker.full_name, user_path(teaser.speaker)
		%td.event_time{:style => 'width: 90px'}
			= teaser.short_start
			%br
			= distance_of_time_in_words(teaser.duration) rescue ''
		%td.event_spots{:style => 'width: 90px'}
			%span.event_spots_available= teaser.spots_available
			spots left
		%td.rsvp
			= link_to "RSVP", event_path(teaser)
