.page
	%h1.inline Events
	.inline.description - Find a Conference, Course, Lecture or Retreat near you.
.event_header_navigation
	- if controller.action_name == 'past'
		= link_to 'upcoming', events_path
		\/
		%span past
	- else
		%span upcoming
		\/
		= link_to 'past', past_events_path
%table.left_menu_container.event_left_menu_container
	%tr
		%td.left_menu.event_left_menu
			.left_menu_item
				%strong Event Type:
				- Event.types.each do |type|
					.element{:'data-category' => 'event_type', :'data-value' => type}
						= check_box_tag :whatever
						= type
			.left_menu_item
				%strong Event Region:
				- Event.event_regions.each do |type|
					.element{:'data-category' => 'event_region', :'data-value' => type}
						= check_box_tag :whatever
						= type
			.left_menu_item
				%strong For:
				- PersonType.published.order(:weight).each do |person_type|
					.element{:'data-category' => 'person_type', :'data-value' => person_type.id }
						= check_box_tag :whatever
						= person_type.name
			.left_menu_item
				%strong Chapter:
				- Chapter.order(:name).each do |chapter|
					.element{:'data-category' => 'chapter', :'data-value' => chapter.id }
						= check_box_tag :whatever
						= chapter.name
			.left_menu_item
				%strong Contemporary Issues:
				- ContemporaryIssue.published.order(:title).each do |issue|
					.element{:'data-category' => 'contemporary_issue', :'data-value' => issue.id }
						= check_box_tag :whatever
						= issue.title
		%td.content_with_left_menu
			.event_teaser_list#js_event_list
				- if @events.empty?
					.no_results
						= "No results for the given filters.  Try removing some filters."
				- else
					- @events.each do |event|
						.event_teaser_list_item
							= render :partial => 'teaser', :object => event
:javascript
	$('.element input').click(function() {
		var ps = collect_params();
		if ($('.event_header_navigation').children("span").text() == "past")
		{
			$('#js_event_list').load('/events/past?' + ps);
		}
		else{
			$('#js_event_list').load('/events?' + ps);
		}
	});

	function collect_params() {
		var param_string = [];
		param_string.push(collect_params_for('event_type'));
		param_string.push(collect_params_for('event_region'));
		param_string.push(collect_params_for('contemporary_issue'));
		param_string.push(collect_params_for('chapter'));
		param_string.push(collect_params_for('person_type'));
		return(param_string.join('&'));
	}

	function collect_params_for(cat) {
		var params = [];
		/*
		if ($('.element[data-category="' + cat +'" input:checked').size() == 0) {
			return('');
		}
		*/
		$('.element[data-category="' + cat + '"] input:checked').each(function() {
			var container = $(this).closest('.element');
			params.push(escape(container.attr('data-value')));
		});
		return(cat + '=' + params.join(','));
	}
