.event_page
	.page
		- if is_admin?
			= link_to 'Edit', edit_admin_event_url(@event), :class => 'btn_edit'
		- if @event.type
			.event_type{ :class => "event_type_#{@event.type.downcase.gsub(" ", "_")}"}
				= @event.type
		%h2
			= @event.title
		.event_header
			.event_time_info
				- if @event.start_date && @event.end_date
					%span.event_duration= @event.duration_in_words
				- if @event.start_date
					%span.event_start= "Starts: #{@event.formatted_start}"
				- if @event.end_date
					%span.event_end= "Ends: #{@event.formatted_end}"
		%strong Ideal For:
		- @event.person_types.each do |person_type|
			-#= link_to person_type.name, person_type_path(person_type), :class => 'person_type_link'
			%span.person_type_link= person_type.name
		.event_body= @event.body.html_safe rescue ""
	
		- if @event.location
			.location_box
				.event_location
					Main Location: 
				.event_location_name
					= @event.location.name
				.event_location_address
					= @event.location.address
		- if @event.chapter
			.host_box
				.event_chapter
					Hosted by:
				.event_chapter_name
					= @event.chapter.name 
		- if @event.director
			.director_box
				.event_director
					Contact the Program Director: 
					= @event.director.full_name
					@
					%span.event_director_phone
						= @event.director.phone
					/= link_to @event.director.full_name, user_path(@event.director)
		- if @event.attendees.include?(current_user)
			.unrsvp
				= link_to 'UnRSVP', unrsvp_event_url(@event), :method => :post
		- else
			- if @event.spots_left > 0
				.rsvp
					= link_to "RSVP", rsvp_event_url(@event), :method => :post
	%hr
	- if is_admin?
		.page
			%h4 Attendees
			- if @event.attendees.count > 0
				= render :partial => 'users/list', :object => @event.attendees
			- else
				= "None"
		%hr
	- if !@event.contemporary_issues.empty?
		.page
			%h4
				Contemporary Issues Covered:
			- @event.contemporary_issues.each do |issue|
				= link_to issue.title, contemporary_issue_path(issue), :class => 'contemporary_issue_link'
	- if !@event.speakers.empty?
		%hr
		.page
			%h4 Speakers / Panelists:
			= render :partial => 'users/list', :object => @event.speakers
	- if !@event.celebrants.empty?
		%hr
		.page
			%h4 Celebrants
			= render :partial => 'users/list', :object => @event.celebrants
