.event_page
	.page
		= render :partial => 'shared/share'
		- if is_admin?
			= link_to 'Edit', edit_admin_event_url(@event), :class => 'btn_edit'
		- if @event.type
			.event_type{ :class => "event_type_#{@event.type.to_s.downcase.gsub(" ", "_")}"}
				= @event.type
		%h2
			= @event.title

		.event_header
			.event_time_info
				- if @event.start_date && @event.end_date
					%span.event_duration= @event.duration_in_words
				- if @event.start_date
					%span.event_start= "Starts: #{@event.formatted_start}"
				- if @event.end_date
					%span.event_end= "Ends: #{@event.formatted_end}"
		%strong Ideal For:
		- @event.person_types.each do |person_type|
			-#= link_to person_type.name, person_type_path(person_type), :class => 'person_type_link'
			%span.person_type_link= person_type.name
		.event_body= @event.body.html_safe rescue ""
	
		- if @event.location
			.location_box
				.event_location
					Main Location: 
				.event_location_name
					= @event.location.name
				.event_location_address
					= @event.location.address
		- if @event.chapter
			.host_box
				.event_chapter
					Hosted by:
				.event_chapter_name
					= @event.chapter.name 
		- if @event.director
			.director_box
				.event_director
					Program Contact: 
					= @event.director.full_name
					@
					%span.event_director_phone
						= @event.director.phone
					or
					%span.event_director_email
						%a{:href => "mailto:#{@event.director.email}"}= @event.director.email
		- unless @thanks
			- if @event.attendees.include?(current_user)
				- ae = AttendeesEvent.where(:attendee_id => current_user.id).where(:event_id => @event.id).first
				- if ae.payment_confirmation.nil?
					.unrsvp
						= link_to 'UnRegister for this Event', unrsvp_event_url(@event), :method => :post
				- else
					%h6 You have registered for this event, if you need to un-register please notify the program contact.
				- if ae.payment_confirmation.nil? && !@event.free_event
					.payment_instructions
						%h3 Payment Instructions
						%strong Total:
						= number_to_currency(ae.total_cost)
						%br
						%strong Instructions:
						= @event.other_payment_type_instructions
			- else
				- if @event.spots_left > 0
					- if user_signed_in?
						= render :partial => 'rsvp_block'
					- else
						.rsvp_block
							.unrsvp= link_to "Sign Up to Register for Event", new_user_registration_url
							.sign_in= link_to "Already a user?  Sign in.", new_user_session_url
		- else
			.pending
				= "Your registration is currently pending."
	%hr
	- if is_admin?
		.page
			= link_to "CSV User List", user_list_admin_event_path(@event)
		.page
			%h4 Add User
			= semantic_form_for [:admin, @event, AttendeesEvent.new] do |f|
				- users = User.order(:last_name).all.delete_if { |c| @event.attendees.include?(c) }
				= f.input :attendee, :collection => users
				= f.input :count
				= f.input :total_cost
				= f.actions
		.page
			%h4 Attendees
			%table.event_attendees_table
				%tr
					%th Last Name
					%th First Name
					%th Email
					%th Spots
					%th Total
					%th Payment Type
					%th
				- @event.attendees_events.sort { |a,b| (a.attendee.last_name rescue '') <=> (b.attendee.last_name rescue '') }.each do |attendee_event|
					- user = attendee_event.attendee
					- if user
						%tr
							%td= user.last_name
							%td= user.first_name
							%td= user.email
							%td= attendee_event.count
							%td= number_to_currency(attendee_event.total_cost)
							%td= attendee_event.payment_method
							%td= link_to "remove", admin_event_attendees_event_path(@event, attendee_event), :method => :delete, :confirm => "Are you sure?"
	- if !@event.speakers.empty?
		%hr
		.page
			%h4 Speakers / Panelists:
			= render :partial => 'users/list', :object => @event.speakers
	- if !@event.celebrants.empty?
		%hr
		.page
			%h4 Celebrants
			= render :partial => 'users/list', :object => @event.celebrants
	- if !@event.contemporary_issues.empty?
		%hr
		.page
			%h4.inline
				Contemporary Issues Covered:
			- @event.contemporary_issues.each do |issue|
				= link_to issue.title, contemporary_issue_path(issue), :class => 'contemporary_issue_link'
