.event_page
	.page
		- if is_admin?
			= link_to 'Edit', edit_admin_event_url(@event), :class => 'btn_edit'
		- if @event.type
			.event_type{ :class => "event_type_#{@event.type.to_s.downcase.gsub(" ", "_")}"}
				= @event.type
		%h2
			= @event.title
		.event_header
			.event_time_info
				- if @event.start_date && @event.end_date
					%span.event_duration= @event.duration_in_words
				- if @event.start_date
					%span.event_start= "Starts: #{@event.formatted_start}"
				- if @event.end_date
					%span.event_end= "Ends: #{@event.formatted_end}"
		%strong Ideal For:
		- @event.person_types.each do |person_type|
			-#= link_to person_type.name, person_type_path(person_type), :class => 'person_type_link'
			%span.person_type_link= person_type.name
		.event_body= @event.body.html_safe rescue ""
	
		- if @event.location
			.location_box
				.event_location
					Main Location: 
				.event_location_name
					= @event.location.name
				.event_location_address
					= @event.location.address
		- if @event.chapter
			.host_box
				.event_chapter
					Hosted by:
				.event_chapter_name
					= @event.chapter.name 
		- if @event.director
			.director_box
				.event_director
					Program Contact: 
					= @event.director.full_name
					@
					%span.event_director_phone
						= @event.director.phone
					or
					%span.event_director_email
						%a{:href => "mailto:#{@event.director.email}"}= @event.director.email
		- if @event.attendees.include?(current_user)
			- ae = AttendeesEvent.where(:attendee_id => current_user.id).where(:event_id => @event.id).first
			.unrsvp
				- if ae.payment_confirmation.nil?
					= link_to 'UnRSVP', unrsvp_event_url(@event), :method => :post
			- if ae.payment_confirmation.nil?
				.payment_instructions
					%h3 Payment Instructions
					%strong Total:
					= number_to_currency(ae.total_cost)
					%br
					%strong Instructions:
					= @event.other_payment_type_instructions
		- else
			- if @event.spots_left > 0
				- if user_signed_in?
					= render :partial => 'rsvp_block'
				- else
					.rsvp_block
						%h3 You must create an account before registering for an event
						= link_to "Create an Account", new_user_registration_url
	%hr
	- if is_admin?
		.page
			- paypal_attendees = @event.attendees_events.select { |c| c.payment_confirmed? }
			%h4 Paypal Attendees
			- if paypal_attendees.size > 0
				= render :partial => 'users/guest_list', :object => paypal_attendees
			- else
				= "None"
			- other_attendees = @event.attendees_events.select { |c| c.payment_confirmation == nil }
			%h4 Other Attendees
			- if other_attendees.size > 0
				= render :partial => 'users/guest_list', :object => other_attendees
			- else
				= "None"
		%hr
	- if !@event.contemporary_issues.empty?
		.page
			%h4
				Contemporary Issues Covered:
			- @event.contemporary_issues.each do |issue|
				= link_to issue.title, contemporary_issue_path(issue), :class => 'contemporary_issue_link'
	- if !@event.speakers.empty?
		%hr
		.page
			%h4 Speakers / Panelists:
			= render :partial => 'users/list', :object => @event.speakers
	- if !@event.celebrants.empty?
		%hr
		.page
			%h4 Celebrants
			= render :partial => 'users/list', :object => @event.celebrants
