= semantic_form_for [:admin, @principle] do |f|
	= f.input :name
	= f.input :title
	= f.input :body, :input_html => { :class => 'js_editor' }
	= f.input :published
	= f.input :feature_on_homepage
	= f.input :weight
	= f.input :contemporary_issues, :collection => ContemporaryIssue.published.order(:title).collect { |c| [c.title, c.id] }, :input_html => { :class => 'js_multiselect' }
	= f.input :thumbnail
	= f.input :image
	= f.buttons
