.page
	%h2 All Principles
	- table(@principles, ['name', 'title', 'weight', '']) do |principle, klass|
		%tr{:class => klass}
			%td= principle.name
			%td= principle.title
			%td= principle.weight
			%td.controls
				= link_to 'Edit', edit_admin_principle_path(principle)
				= link_to 'Delete', admin_principle_path(principle), :method => :delete, :confirm => "Are you sure?"
	.link
		= link_to 'New Principle', new_admin_principle_url, :class => 'btn_edit left'
