= semantic_form_for [:admin, @person_type] do |f|
	= f.input :name
	= f.input :title
	= f.input :body, :input_html => { :class => 'js_editor' }
	= f.input :published
	= f.input :weight
	= f.input :contemporary_issues, :collection => ContemporaryIssue.published.order(:title).collect { |c| [c.title, c.id] }, :input_html => { :class => 'js_multiselect' }
	= f.input :thumbnail
	= remove_thumbnail_tag(f, @person_type)
	= f.input :image 
	= remove_image_tag(f, @person_type)
	= f.buttons

:javascript
	$(document).ready(function(){
		var isFirefox = typeof InstallTrigger !== 'undefined';

		$('#person_type_thumbnail').change(function(){
			validate_image($(this));
		});

		$('#person_type_image').change(function(){
			validate_image($(this));
		});


		function validate_image(img) {
			var isJPEG= new RegExp("\.jpeg");
			var isJPG= new RegExp("\.jpg");
			var isPNG= new RegExp("\.png");
			if(isJPEG.test(img.val())==false){
				if(isJPG.test(img.val())==false){
					if(isPNG.test(img.val())==false){
						alert("Only \"jpeg\" and \"png\" files");
						var field = $(this);
						if(isFirefox)
							img.val("");
						else
							img.replaceWith(field = img.clone( true ) );
					}
				}
			}
		}
		
	});