.page
	%h2
		All Contacts
		= link_to "(raw emails)", raw_admin_contacts_path
	= link_to 'Delete Selected', admin_contact_path(0), :method => :delete, :id => "js_delete_selected_contacts", :class => "btn_edit disabled"
	- table(@contacts, ['', 'email', 'first name', 'last name', 'home phone', 'note', '']) do |contact, klass|
		%tr{:class => klass}
			%td= check_box_tag :contact_ids, contact.id, false, :class => "js_contact_id"
			%td= contact.email
			%td= contact.first_name
			%td= contact.last_name
			%td= contact.home_phone
			%td= !contact.note.empty? ? 'yes' : 'no' rescue 'no'
			%td.controls
				= link_to 'Edit', edit_admin_contact_path(contact)
				= link_to 'Delete', admin_contact_path(contact), :method => :delete, :confirm => "Are you sure?"
	:javascript
		$(document).ready(function() {
			$("#js_delete_selected_contacts").click(function(e) {

				var ids = [];
				$(".js_contact_id:checked").each (function() {
					ids.push($(this).val());
				});

				if (ids.length == 0) {
					e.preventDefault();
					e.stopPropagation();
				} else {
					$(this).attr('href', $(this).attr('href') + "?ids=" + ids.join(','));
				}
			});

			$(".js_contact_id").change(function() {
				if ($(".js_contact_id:checked").length == 0) {
					$("#js_delete_selected_contacts").addClass("disabled");
				} else {
					$("#js_delete_selected_contacts").removeClass("disabled");
				}
			});
		});
