.page
	%h2
		All Contacts
		= link_to "(raw emails)", raw_admin_contacts_path
	- table(@contacts, ['email', 'first name', 'last name', 'phone', 'note', '']) do |contact, klass|
		%tr{:class => klass}
			%td= contact.email
			%td= contact.first_name
			%td= contact.last_name
			%td= contact.phone
			%td= !contact.note.empty? ? 'yes' : 'no' rescue 'no'
			%td.controls
				= link_to 'View', admin_contact_path(contact)
				= link_to 'Delete', admin_contact_path(contact), :method => :delete, :confirm => "Are you sure?"
