.page.contact_page
	.separator
		%strong Email:
		= @contact.email
	.separator
		%strong Prefix:
		= @contact.prefix
	.separator
		%strong First Name:
		= @contact.first_name
	.separator
		%strong Last Name:
		= @contact.last_name
	.separator
		%strong Address Line 1:
		= @contact.address
	.separator
		%strong Address Line 2:
		= @contact.address_2
	.separator
		%strong City:
		= @contact.city
	.separator
		%strong State:
		= @contact.state
	.separator
		%strong Zip Code:
		= @contact.zip_code
	.separator
		%strong Phone:
		= @contact.phone
	.separator
		%strong Note:
		= @contact.note
