= render :partial => 'shared/share'
- if page.class == Encyclical
	- if !page.authors.empty?
		%ul.user_list
			- page.authors.each do |author|
				%li
					= image_tag(author.profile_image(:small), :class => 'profile_image', :width => 80, :height => 80, :class => 'user_image')
					.user_info
						= link_to author.full_name
						%br
						= author.title
			- if page.published_at
				.right.inline.published_date= page.published_at.strftime("%a %b %e %Y")
		%div{:style => 'clear:both'}
		.buffer
- if !page.hide_header
	= render :partial => "content_fragments/breadcrumb", :locals => { :page => page }
- if is_admin?
	= link_to 'Edit', content_fragment_edit_url(page), :class => 'btn_edit'
- if page.image?
	= image_tag page.image.url(:normal), :class => 'content_fragment_header_image'
- if page.class == Thought
	.page_thought_quote= strip_tags(@thought.teaser) rescue ''
= parse_references(page.parsed_body).html_safe rescue ""
-if !page.class == Page
	- if user_signed_in?
		= render :partial => 'audio_contents/display', :object =>@page, :locals => { :id => @page.id}
	- else
		= render :partial => 'audio_contents/no_display', :object =>@page, :locals => { :id => @page.id}
- if !page.questions.empty?
	= render :partial => 'questions/question', :collection => page.questions
- if is_admin?
	= link_to 'Add Question', new_admin_question_path(:id => page.id), :class => 'btn_edit left'
- if page.child_menu_items_for_content_fragment.count > 0
	- if !local_assigns[:hide_sub_menu]
		= render :partial => 'content_fragments/menu_children_box_view', :locals => { :menu_items => page.child_menu_items_for_content_fragment }
