- if !page.hide_header
	%h2
		= page.title
		- if page.translated_title
			%span.translated_title= "(#{page.translated_title})"
- if is_admin?
	= link_to 'Edit', content_fragment_edit_url(page), :class => 'btn_edit'
- if page.class == Thought
	.thought_quote= strip_tags(@thought.teaser) rescue ''
	%br
- if page.class == Encyclical
	- if page.published_at
		.published_date= page.published_at.strftime("%c")
	- if !page.authors.empty?
		.authors
			by:
			- page.authors.each do |author|
				.author= author.full_name
- if page.image?
	%br
	= image_tag page.image.url(:normal), :class => 'content_fragment_header_image'
= page.body.html_safe rescue ""
