%table.story_teaser
	%tr
		%td
			- if teaser.is_a?(Story)
				%h5.story_title= link_to teaser.title, story_path(teaser)
				.published_at= teaser.formatted_published_at
				.teaser= teaser.teaser.html_safe
			- else
				%h5.story_title= link_to teaser.title, teaser.url, :target => '_blank'
				.published_at= teaser.formatted_published_at
				.source= teaser.feed_source.title
				/.teaser= teaser.teaser.html_safe
