%table.story_teaser
	%tr
		%td
			- if teaser.is_a?(Story)
				%h5.story_title= link_to teaser.title, story_path(teaser)
				.source CAPP USA
				.published_at= teaser.formatted_published_at
				.category= teaser.category
				.teaser= teaser.teaser.html_safe
			- else
				.rss_feed_icon
				%h5.story_title= link_to teaser.title, teaser.url, :target => '_blank'
				.source= teaser.feed_source.title
				.published_at= teaser.formatted_published_at
				.category= teaser.feed_source.category
				.teaser= teaser.summary.html_safe
