.page
	= render :partial => 'shared/share'	
	- if is_admin?
		= link_to 'Edit', content_fragment_edit_url(@story), :class => "btn_edit"	
	%h2= @story.title
	.published_at
		Published at
		= @story.formatted_published_at
	- if @story.image?
		%br
		= image_tag @story.image.url(:normal), :class => 'content_fragment_header_image'
	= @story.body.html_safe rescue ''
	- if user_signed_in?
		= render :partial => 'audio_contents/display', :object =>@story, :locals => { :id => @story.id	 }
	- else
		= render :partial => 'audio_contents/no_display', :object =>@story, :locals => { :id => @story.id}
%hr
	.page
		#disqus_thread