.page
	%h2 All Questions
	- table(@questions, ['type', 'title', 'summary', '']) do |question, klass|
		%tr{:class => klass}
			%td= question.content_fragment.class.to_s
			- if question.content_fragment.class.to_s == "Page"
				%td= link_to question.content_fragment.title, question.content_fragment.url
			- else
				%td= link_to question.content_fragment.title, question.content_fragment
			%td= strip_tags(question.summary)
			%td.controls
				= link_to 'Edit', edit_admin_question_path(question)
				= link_to 'Delete', admin_question_path(question), :method => :delete, :confirm => "Are you sure?"
	.link
		= link_to 'New Question', new_admin_question_path, :class => 'btn_edit left'

