= semantic_form_for [:admin, @user] do |f|
	= f.semantic_fields_for :contact do |contact_f|
		= f.buttons do
			= f.commit_button "Update Account Holder"
		= contact_f.input :prefix, :as => :select, :collection => Contact::NAME_PREFIXES
		= contact_f.input :first_name
		= contact_f.input :last_name
		= contact_f.input :suffix, :as => :select, :collection => Contact::NAME_SUFFIXES
		= f.input :password
		= f.input :password_confirmation, :label => 'Password', :required => true
		= f.input :email
		= contact_f.input :title
		= f.input :affiliations, :as => :check_boxes, :collection => User.affiliation_types, :label => "CAPP Affiliation"
		= f.input :about_us_weight
		= f.input :about, :input_html => { :class => 'js_editor' }
		= contact_f.input :home_phone
		= contact_f.input :address
		= contact_f.input :address_2
		= contact_f.input :address_3
		= contact_f.input :state, :as => :select, :collection => Contact::US_STATES
		= contact_f.input :country
		= contact_f.input :zip_code

		= f.input :roles, :as => :check_boxes, :collection => User.roles
		= f.input :person_type, :collection => PersonType.order(:published => true).order(:weight).collect { |c| [c.name, c.id] }, :label => "About me:"
		/= f.input :chapter, :collection => Chapter.order(:name).collect { |c| [c.name, c.id] }
		= f.input :contemporary_issues, :collection => ContemporaryIssue.published.order(:title).collect { |c| [c.title, c.id] }, :input_html => { :class => 'js_multiselect' }
		= f.input :profile_image
		- if @user.profile_image_file_name?
			= f.input :delete_profile_image, :as => :boolean, :label => "Remove profile image?"
		= f.buttons do
			= f.commit_button "Update Account Holder"

:javascript
	$(document).ready(function(){
		var isFirefox = typeof InstallTrigger !== 'undefined';

		$('#user_profile_image').change(function(){
			validate_image($(this));
		});

		function validate_image(img) {
			var isJPEG= new RegExp("\.jpeg");
			var isJPG= new RegExp("\.jpg");
			var isPNG= new RegExp("\.png");
			if(isJPEG.test(img.val())==false){
				if(isJPG.test(img.val())==false){
					if(isPNG.test(img.val())==false){
						alert("Only \"jpeg\" and \"png\" files");
						var field = $(this);
						if(isFirefox)
							img.val("");
						else
							img.replaceWith(field = img.clone( true ) );
					}
				}
			}
		}
		
	});
