= semantic_form_for [:admin, @user] do |f|
	= f.semantic_fields_for :contact do |contact_f|
		= contact_f.input :first_name
		= contact_f.input :last_name
		= f.input :password
		= f.input :password_confirmation, :label => 'Password', :required => true
		= f.input :email
		= contact_f.input :title
		= f.input :about_us_type, :collection => User.about_us_types
		= f.input :about_us_weight
		= f.input :about, :input_html => { :class => 'js_editor' }
		= contact_f.input :home_phone
		= f.input :roles, :as => :check_boxes, :collection => [ "admin", "speaker", "celebrant", "thought_creator", "user" ]
		= f.input :person_type, :collection => PersonType.order(:published => true).order(:weight).collect { |c| [c.name, c.id] }
		= f.input :chapter, :collection => Chapter.order(:name).collect { |c| [c.name, c.id] }
		= f.input :contemporary_issues, :collection => ContemporaryIssue.published.order(:title).collect { |c| [c.title, c.id] }, :input_html => { :class => 'js_multiselect' }
		= f.input :profile_image
		- if @user.profile_image_file_name?
			= f.input :delete_profile_image, :as => :boolean, :label => "Remove profile image?"
		= f.buttons
