= semantic_form_for [:admin, @user] do |f|
	= f.input :first_name
	= f.input :last_name
	= f.input :password
	= f.input :password_confirmation, :label => 'Password', :required => true
	= f.input :email
	= f.input :title
	= f.input :phone
	= f.input :roles, :as => :check_boxes, :collection => [ "admin", "speaker", "thought_creator", "user" ]
	= f.input :person_type, :collection => PersonType.order(:published => true).order(:weight).collect { |c| [c.name, c.id] }
	= f.input :chapter, :collection => Chapter.order(:name).collect { |c| [c.name, c.id] }
	= f.input :contemporary_issues, :collection => ContemporaryIssue.where(:published => true).order(:title).collect { |c| [c.title, c.id] }, :input_html => { :class => 'js_multiselect' }
	- if @user.profile_image.url
		= image_tag @user.profile_image(:small), :class => 'profile_image', :width => 80, :height => 80
	= f.input :about
	= f.input :profile_image
	= f.buttons
