.page
	.user_search_form{:style => "float: right"}
		= form_for(User.new, :url => search_admin_users_path) do |f|
			= text_field_tag :q, (@q rescue ''), :placeholder => "Search Users"
			= f.submit 'Search'
	%h2 All Account Holders
	- table(@users, ['name', 'email', 'roles', '']) do |user, klass|
		%tr{:class => klass}
			%td= link_to user.full_name, admin_user_path(user)
			%td= user.email
			%td= user.roles.join(", ")
			%td.controls
				= link_to 'Edit', edit_admin_user_path(user)
				- if user != current_user
					= link_to 'Delete', admin_user_path(user), :method => :delete, :confirm => "Are you sure?"
	.link
		= link_to 'New User', new_admin_user_url, :class => 'btn_edit left'
