.page
	%h2 All Prism Types
	- table(@prism_types, ['name', 'title', 'homepage', 'weight', '']) do |prism_type, klass|
		%tr{:class => klass}
			%td= prism_type.name
			%td= prism_type.title
			%td= prism_type.feature_on_homepage?
			%td= prism_type.weight
			%td.controls
				= link_to 'Edit', edit_admin_prism_type_path(prism_type)
				= link_to 'Delete', admin_prism_type_path(prism_type), :method => :delete, :confirm => "Are you sure?"
	.link
		= link_to 'New Prism Type', new_admin_prism_type_url, :class => 'btn_edit left'
