= semantic_form_for [:admin, @menu_item] do |f|
	= f.inputs do
		= f.input :name
		= f.input :url
		= f.input :parent, :member_label => :parent_menu_name_with_depth, :collection => MenuItem.all_with_relative_depth
		= f.input :weight
		= f.input :menu, :collection => MenuItem.menus
	= f.buttons
