= semantic_form_for [:admin, @menu_item] do |f|
	= f.inputs do
		= f.input :name
		= f.input :url
		= f.input :parent
		= f.input :weight
		= f.input :menu, :collection => MenuItem.menus
	= f.buttons
