%tr{:class => klass}
	%td{:class => "level_#{level}"}= menu_item.name
	%td= menu_item.menu
	%td= menu_item.weight
	%td= menu_item.url
	%td.controls
		= link_to 'Edit', edit_admin_menu_item_path(menu_item)
		= link_to 'Delete', admin_menu_item_path(menu_item), :method => :delete, :confirm => "Are you sure?"
- menu_item.children.order(:weight).each do |sub_menu_item|
	= render :partial => 'sub_item', :locals => { :menu_item => sub_menu_item, :klass => klass, :level => (level + 1) }
		

