%table
	%tr
		%td
			%h5.thought_title= link_to teaser.title, thought_path(teaser)
			= strip_tags(thought.teaser) rescue ""
			.thought_teaser= teaser.teaser.html_safe
			- if teaser.user
				.thought_author_container
					by:
					= link_to teaser.user.full_name, user_path(teaser.user)
					posted on:
					.published_at= teaser.formatted_published_at

