.page
	- if is_admin?
		%h2 All Articles
	- else
		%h2 My Articles
	- table(@thoughts, ['title', 'author', 'published?', '']) do |thought, klass|
		%tr{:class => klass}
			%td= thought.title
			%td= thought.user.full_name rescue nil
			%td= thought.published? ? 'Yes' : 'No'
			%td.controls
				= link_to 'Edit', edit_thought_path(thought)
				= link_to 'Delete', thought_path(thought), :method => :delete, :confirm => "Are you sure?"
	.link
		= link_to 'New Articles', new_thought_url
