.page
  %h2 All Thoughts
  - table(@thoughts, ['name', 'title', '']) do |thought, klass|
    %tr{:class => klass}
      %td= thought.name
      %td= thought.title
      %td.controls
        = link_to 'Edit', edit_thought_path(thought)
        = link_to 'Delete', thought_path(thought), :method => :delete, :confirm => "Are you sure?"
  .link
    = link_to 'New Thought', new_thought_url
