<!DOCTYPE html>
<html>
<head>
	<title>Catholic Social Teaching in Action | CAPP-USA</title>
	<meta name="google-site-verification" content="T084K6uP-YpKBp1hcsJEwwKL9gviypB61AikUMOYS04" />
	<meta name="keywords" content="CAPP-USA, Centesimus Annus Pro Pontifice, Catholic Social Teaching, Catholic, Vatican, Social, Teaching, CST, Encyclical, Events, News, Courses, Fairfield County, Diocese of Bridgeport (CT), Archdiocese of Washington (DC),  Archdiocese of Newark (NJ), Archdiocese of New York, Pope, Paul II, Benedict">

	<meta name="description" content="CAPP-USA is the US affiliate of the Vatican Foundation of Catholic Lay Leaders, a 501(c)(3) and is an "integrated auxiliary" of the Roman Catholic Church. CAPP-USA  is associated with The Catholic University of America with which it developed the Certificate Program in Catholic Social Teaching. Our mission is to evangelize lay Catholic leaders. Our goal is to develop a strong, committed group of Catholic lay men and women, rich in faith and theologically prepared to be present in public life to explain, develop and implement CST in our challenging world so as we may become a deep and credible voice in the public square.">

	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<link rel="icon" type="image/x-icon" href="/favicon.ico">
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<link href='http://fonts.googleapis.com/css?family=Fauna+One|Alegreya+Sans|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-34713442-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	<script type="text/javascript"><% if flash[:notice] %> $(document).ready(function() {$("#notice").slideDown('slow').delay(3000).slideUp('slow');});<% end %></script>
	
	    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'cappusa'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
</head>
<body>

<div id='content'>
	<div id='header'>
		<div id="user_login">
			<% if user_signed_in? %>
				<%= link_to current_user.full_name, profile_url, :class => "user_name" %>
				<%= link_to 'Logout', destroy_user_session_url, :method => :delete, :class => 'logout_link' %>
			<% else %>
				<%= link_to "Sign Up", new_registration_path(User), :class => 'register_link' %>
				<%= link_to 'Login', new_user_session_url, :class => 'login_link' %>
			<% end %>
		</div>
		<div id="search_box">
			<form action="/search" method="get" class="js_main_search_form">
				<label class="input js_input">
					<span>Search</span>
					<input name="q" size="30" type="text" value="<%= @q rescue '' %>" class="search_input" id="js_main_search_input">
				</label>
				<input style="display: none" type="submit">
			</form>
		</div>
		<a href="/">
			<div id='logo'><img src='/images/capp-logo.png'></div>
		</a>
		<div id='top_nav_bar'>
			<table class='nav_main'><tr>
					<td class='top_nav_home'><a href="/" class='top_nav <%= request.path == "/" ? "active" : '' %>'><img src='/images/home_btn.png' /></a></td>
					<%= render :partial => 'shared/main_nav_bar' %>
			</tr></table>
		</div>
	</div>
	
	<div id='main'>
		<% if notice %>
			<p id="notice" class="notice"><%= notice %></p>
		<% end %>
		<% if alert %>
			<p id="notice" class="alert"><%= alert %></p>
		<% end %>
		<table><tr>
			<td class='left_content<%= @show_right_side_bar ? ' ' : ' no_right_column' %>'>
				<%= content_for?(:content) ? yield(:content) : yield %>
			</td>
			<% if @show_right_side_bar %>
				<td class='right_column'>
					<% if user_signed_in? %>
						<%= render :partial => 'shared/user_menu' %>
					<% end %>
					<%= render :partial => 'shared/email_address_block' %>
					<%= Block.display("right_side_image") %>
					<%= render :partial => 'shared/event_block' %>
					<%= render :partial => 'shared/thought_block' %>
					<%= render :partial => 'shared/side_news_block' %>
				</td>
			<% end %>
		</tr></table>
	</div>
	<div id='footer'>
		<table><tr>
		<td width='226px'>
			<%= Block.display("footer_left") %>
		</td>
		<td width='32px'></td>
		<td width='452px'>
			<p><strong>Contemporary Issues</strong></p>
			<hr class='single_line'>
			<% contemporary_issues = ContemporaryIssue.published.order(:title) %>
			<% contemporary_issues.each do |issue| %>
				<%= link_to issue.title, contemporary_issue_path(issue), :class => 'footer_link' %>
			<% end %>
		</td>
		<td width='32px'></td>
		<td width='226px'>
			<%= Block.display("footer_right") %>
		</td>
		</tr>
		<tr><td colspan='7' class='copyright'>
			<br><hr class='single_line'>
			<%= Block.display("footer") %>
		</table>
	</div>
</div>
<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0013/3690.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>

</body>
</html>
