<!DOCTYPE html>
<html>
<head>
	<title>Catholic Social Teaching in Action | CAPP-USA</title>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>

<div id='content'>
	<div id='header'>
		<div id="user_login">
			<% if user_signed_in? %>
				<span class="user_name"><%= current_user.full_name %></span>
				<%= link_to 'Logout', destroy_user_session_url, :method => :delete, :class => 'logout_link' %>
			<% else %>
				<%= link_to "Register", new_registration_path(User), :class => 'register_link' %>
				<%= link_to 'Login', new_user_session_url, :class => 'login_link' %>
			<% end %>
		</div>
		<a href="/">
			<div id='logo'><img src='/images/capp-logo.png'></div>
		</a>
		<div id='top_nav_bar'>
			<table class='nav_main'><tr>
					<td width='52px'><a href="/" class='top_nav <%= request.path == "/" ? "active" : '' %>'><img src='/images/home_btn.png' /></a></td>
					<%= render :partial => 'shared/main_nav_bar' %>
			</tr></table>
		</div>
	</div>
	
	<div id='main'>
		<% if notice %>
			<p class="notice"><%= notice %></p>
		<% end %>
		<% if alert %>
			<p class="alert"><%= alert %></p>
		<% end %>
		<table><tr>
			<td class='left_content<%= @show_right_side_bar ? ' ' : ' no_right_column' %>'>
				<%= yield %>
			</td>
			<% if @show_right_side_bar %>
				<td class='right_column'>
					<% if user_signed_in? %>
						<%= render :partial => 'shared/user_menu' %>
					<% end %>
					<%= render :partial => 'shared/email_address_block' %>
					<%= Block.display("right_side_image") %>
					<%= render :partial => 'shared/event_block' %>
					<%= render :partial => 'shared/thought_block' %>
				</td>
			<% end %>
		</tr></table>
	</div>
	<div id='footer'>
		<table><tr>
		<td width='226px'>
			<%= Block.display("footer_left") %>
		</td>
		<td width='32px'></td>
		<td width='226px'>
			<p class='footer_title'>Contemporary Issues</p>
			<hr class='single_line'>
			<% contemporary_issues = ContemporaryIssue.where(:published => true).order(:title) %>
			<% contemporary_issues.each do |issue| %>
				<%= link_to issue.title, contemporary_issue_path(issue), :class => 'footer_link' %>
			<% end %>
		</td>
		<td width='32px'></td>
		<td width='226px'>
			<p class='footer_title'>Catholic Social Teaching</p>
			<hr class='single_line'>
			<a href='#' class='footer_link'>CST Program</a>
			<a href='#' class='footer_link'>Program Overview</a>
			<a href='#' class='footer_link'>Registration Information</a>
		</td>
		<td width='32px'></td>
		<td width='226px'>
			<%= Block.display("footer_right") %>
		</td>
		</tr>
		<tr><td colspan='7' class='copyright'>
			<br><hr class='single_line'>
			<%= Block.display("footer") %>
		</table>
	</div>
</div>
</body>
</html>
