= content_for :content do
	.page
		%h2 Mailer
		= link_to "New Contact List", new_static_contact_list_path, :class => "btn_edit"
	%table.left_menu_container.mail_left_menu_container
		%tr
			%td.left_menu.mail_left_menu
				.left_menu_item.button_group
					= link_to "Compose", new_sent_email_message_path, :class => "btn_edit left"
					= link_to "Sent", sent_email_messages_path, :class => "plain_link"
				.left_menu_item
					%strong Static Contact Lists
					%ul.contact_lists
						- @static_contact_lists.each do |list|
							%li
								%a{:href => contact_list_href(list)}= list.display_name
				.left_menu_item
					%strong Dynamic Contact Lists
					%ul.contact_lists
						- @dynamic_contact_lists.each do |list|
							%li
								%a{:href => contact_list_href(list)}= list.display_name
			%td.content_with_left_menu.mail_content_container
				= yield
= render :file => "layouts/application.html.erb"
